*{
    margin: 0px;
    padding: 0px;
}
body{
   background-image: url(1237227-free-3d-stone-wallpaper-2560x1600-for-meizu.jpg);
}
nav{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: blue;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    
    
}
ul{
    list-style-type: none;
    
    color: white;
    
    display: flex;   
    
   

}
li a{
    /* align-items: flex-end; */
    padding-left: 20px;
    padding-right: 5px;
    color: white;
    text-decoration: none;
}
li#anasayfa{
    background-color: red;
    
}
div{
    width: 100%;
    height: 500px;
    background-color: red;
    margin-top: 300px;
    padding-top: 120px;
}
button#css-button{
    width: 300px;
    color: black;
    background: yellow;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 500px;
}
#patates{
    width: 30px;
}

/* #css{
    width: 100%;
    height: 500px;
    background-color: blue;
    margin-top: 300px;
} */